<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:olivedrab;font-size:45px;">
        <b>Rice Agency</b>
    
    </div>
    <div>
        <pre>

          Hello Sir/Mam  
                    We just need to verify your Email address for complete your registration!
                    Click Here <a href="http://localhost:58135/">Online Rice Agency</a>

        </pre>
    </div>
</body>
</html>
